/* Флекс списка клиентов */
.clients {
  display: flex;
}

/* Блоки в списке клиентов */
.clients__item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--tr-duration) var(--tr-function);
  /* Отступы (margin) в списке клиентов кроме последнего */
  &:not(:last-child) {
    margin-right: 30px;
    /* Эффект выделения цветом при ховере и фокусе */
    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }
}

/* Флекс на ссылки клиентов */
.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  color: #afb1b8;

  transition: color var(--tr-duration) var(--tr-function);
  /* Эффект выделения цветом при ховере и фокусе */
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* Наследование цвета иконками */
.clients__icon {
  fill: currentColor;
}
